OPENAI_API_KEY=****
OPENROUTER_API_KEY=****
FIRECRAWL_API_KEY=****
AUTH_SECRET=****
MAX_DURATION=300

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Get your Upstash Redis URL and Token here: https://console.upstash.com/
UPSTASH_REDIS_REST_URL=****
# Get your Upstash Redis Token here: https://console.upstash.com/
UPSTASH_REDIS_REST_TOKEN=****
REASONING_MODEL=o3-mini
BYPASS_JSON_VALIDATION=false